<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>协议详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/public.css">
    <link rel="stylesheet" href="./css/protocolDetail.css">
    <script src="./js/lib-flexible.js"></script>
    <script src="./js/axios.js"></script>
    <script src="./js/vue.js"></script>
</head>
<body>
<div class="protocol_dt">
    <header v-if="detail != null"><a href="javascript:history.back(-1)" class="back" ></a> {{detail.name}}</header>
    <div class="main" v-if=" detailUrl">
        <iframe :src="detailUrl"></iframe>
    </div>

<!--    loading-->

    <div class="loading" v-if="showLoading">
        <div class="model"></div>
        <img src="./img/loading.gif" alt="">
    </div>
</div>

</body>
</html>

<script>
    new Vue({
        el:'.protocol_dt',
        data:{
            showLoading:false,
            userModel:{
                agrer_id:'',
                api_token:''
            },
            detailUrl:'',
            detail:null
        },
        mounted() {
            this.showLoading = true;
            this.hasUrlToken(window.location.href);
            this.getProtocolDetail();
        },
        methods:{
            /** 10:23
              *   @author: yuanjie
              *   @description:获取协议详情
              *   @param
              */

            getProtocolDetail() {
                axios.post('/api/common/eqb/agreementdetail', this.userModel).then((res) => {
                    if(res.data.status == true) {
                        this.detailUrl = location.host + '/storage/'+ res.data.data.pdf_path;
                        // this.detailUrl = 'https://futures.grs555.com' + '/storage/'+ res.data.data.pdf_path;
                        this.showLoading = false;
                        this.detail = res.data.data;
                    }
                })

            },

            /** 15:49
             *   @author: yuanjie
             *   @description:判断用户有没有token
             *   @param{string} 当前浏览器的url
             */
            hasUrlToken(url) {
                if (url == '') {
                    throw 'url参数不能为空';
                }
                let indexNum = url.indexOf('?');
                if (indexNum < 0) {
                    // throw '当前url参数格式有问题';
                }
                let obj = {};
                let urlStr = url.substr(indexNum + 1, url.length);
                let strList = urlStr.split('&');
                for (let i = 0; i < strList.length; i++) {
                    let itemIndex = strList[i].indexOf('=');
                    let name = strList[i].substr(0, itemIndex);
                    let val = strList[i].substr(itemIndex + 1, strList[i].length);
                    obj[name] = val;
                }

                if (toString(obj) == '{}') {
                    console.log('没有参数');
                } else {
                    this.userModel.agrer_id = obj.id;
                    this.userModel.api_token = obj.token;
                }

            },
        }
    })
</script>